@import url('../../../index.css');

#SwipeButton{
    background-color: var(--primary-color);
    border-top: 0px;
    border-bottom: 2px;
    border-left: 2px;
    border-right: 0px;
    border-color: var(--font-color);
    border-style: solid;
}

#SwipeButton{
    width: 35px;
    height: 48px;
    z-index: 1;
}

.Pipe{
    background-color: var(--font-color);
    
    position: relative; 
    width: 60%;
    height: 8%;
    left: 21%;
    transition: rotate .4s;
}

#Pipe1{
    rotate: -45deg;
    top: 32%; 
}
#Pipe2{
    rotate: 45deg; 
    top: 48%;
}

[is-swiped='true'] #Pipe1{
    rotate: 45deg;
}

[is-swiped='true'] #Pipe2{
    rotate: -45deg;
}
    