@import url(../../index.css);

#LoginContainer{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;
    padding: 30px;
}

#LoginMain{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70%;
}