@import url('../../index.css');

[is-swiped='true']{
    right: 0px;
}
[is-swiped='false']{
    right: -115px;
}


#HeaderContainer{
    height: 100%;
    width: 150px;
    position: fixed;

    display: flex;
    flex-direction: row;
    transition: .2s;
}

#HeaderContent{
    background-color: var(--primary-color);
    width: 115px;
    box-shadow: -1px 0px 10px var(--shadow-primary-color);

    display: flex;
    flex-direction: column;
}

#HeaderContentSwitch{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#HeaderContentLinks{  
    padding-top: 10px;
    
    border-left: 2px;
    border-block: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: var(--font-color);

    height: -webkit-fill-available;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}



