@import url('../../index.css');

#ChatContainer{
    background-color: var(--primary-color);
    
    display: flex;
    flex-direction: column;
    
    padding-inline: 20px;
    padding-block: 30px;

    gap: 20px;
    height: -webkit-fill-available;
}

#Chat{
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;

    height: -webkit-fill-available;
}

#ChatMessageBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#InputTextContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 50px;
    /* background-color: var(--secondary-color); */
    padding-inline: 20px;
}

#InputTextBox{
    width: 100%;
}

#InputForm{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
}

#InputText{
    position: relative;
    height: 20px;
    
    width: -webkit-fill-available;
    
    background: none;
    
    border: none;
    border-bottom: solid var(--font-color);
    
    font-size: 20px;
    color: var(--font-color);

    outline: none;
}

#InputText:hover{
    caret-color: var(--contrast-primary-color);
}

#FormButton{
    width: 80px;
    padding: 5px;


}
/*
.FormInput{
    background: none;
    height: 20px;
    
    border-inline: none;
    border-top: none;
    border-bottom: solid var(--contrast-primary-color);
    
    font-size: 15px;
    font-weight: 700;
    color: var(--contrast-primary-color);

    text-align: left;
}

*/
