.FormButton{
    font-size: 15px;
    font-weight: 700;
    color: var(--font-color);

    width: fit-content;
    padding: 10px;
    
    border: none;

    background-color: var(--font-color-hover);

    border: solid rgba(0, 0, 0, 0.2) 1px;
    border-radius: 2px;

    margin-top: 8px;
}

.FormButton:hover{
    color: var(--font-color-hover);
    background-color: var(--font-color);
}