.FormButton{
    font-size: 15px;
    font-weight: 700;
    color: var(--font-color);

    width: fit-content;
    padding: 10px;
    
    border: none;

    background-color: var(--font-color-hover);

    border-radius: 2px;

}

.FormButton:hover{
    color: var(--font-color-hover);
    background-color: var(--font-color);
}